.account-menu {
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  text-align: center;
  gap: 20px;
  padding: 20px;
}

.acc-btn {
  width: 70%;
  max-width: 300px;
  padding: 15px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  background: #5f85db;
  color: white;
  font-weight: bold;
}

.acc-back {
  align-self: flex-start;
  font-size: 16px;
  background: none;
  border: none;
  color: #007aff;
  margin-bottom: 10px;
  cursor: pointer;
}