.acc-edit {
  padding: 20px;
}

.acc-edit-back {
  font-size: 16px;
  background: none;
  border: none;
  color: #007aff;
  margin-bottom: 10px;
  cursor: pointer;
}

.acc-edit-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}

.acc-label {
  display: block;
  font-size: 16px;
  margin-bottom: 6px;
}

.acc-input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}

.acc-edit-save {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  background: #007aff;
  color: white;
  font-size: 18px;
  border: none;
  margin-top: 20px;
}