.admin-menu-container {
  padding: 20px;
  text-align: center;
  position: relative;
}

.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #f2f2f2;
  padding: 8px 14px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.admin-menu-title {
  margin-top: 60px;
  font-size: 28px;
  font-weight: bold;
}

.admin-menu-buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-menu-btn {
  padding: 14px 0;
  width: 70%;
  margin: auto;
  font-size: 18px;
  background: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}